<!doctype html>
<html>
<head>
	<title>Hours</title>
	<script type="text/javascript" src="js/moment.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script src="js/bootstrap-datepicker.js" type="text/javascript" charset="utf-8"></script>	
	<script type="text/javascript" src="js/hours.js"></script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/datepicker.css">
	<link rel="stylesheet" type="text/css" href="css/hours.css">
</head>
<body ng-app="hoursApp">

<div ng-view></div>

</body>
</html>
