<html>
<head>
	<title>Hours. supersimple timetracking</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.js"></script>
	<script type="text/javascript">
              $(document).ready(function () {
                $("a").tooltip({
                  'placement': 'left'
                });
              });
            </script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/hours.css">
</head>
<body>
<div class="hrs-box hero-unit"  style="color:white;text-align:center;line-height:20px;margin: 0px 0px 0px 0px">
  <h1>Hours.</h1>
  <br/>
  <p>supersimple timetracking</p>
  <p>
    <a href='/auth/google_oauth2' title data-toggle="tooltip" data-original-title="Hours uses only your email for identification. Nothing else is retrieved or stored."><img src='img/google.png' width=48 height=48/> Log in with Google</a>  
</p>
</div>
<div style="text-align:right;margin:10px"><a style="color:#303030" href="http://unusual.io">&copy; 2013 unusual labs</a></div>
</body>
</html>