	<div class="container well" style="margin-top:40px;background-color:#303030;border:none">
		<div style="width:100%;text-align:center;margin-bottom:20px">
			<h1 style="color:#707070">{{month}}</h1>
		</div>
		<div class="btn-group" style="width:100%;text-align:center">
			<a href="#/summary/{{previousMonth}}" class="btn btn-primary" ng-click=""><i class=" icon-chevron-left icon-white"></i> Previous</i></a>
			<a href="#/hours" class="btn btn-primary"><i class="icon-list icon-white"></i> Hours</i></a>

			<a href="#/summary/{{nextMonth}}" class="btn btn-primary" ng-click="">Next <i class=" icon-chevron-right icon-white"></i></i></a>
		</div>
</div>  
	</div>
